.sitewards-b2bprofessional-order-form TABLE TR TD,
.sitewards-b2bprofessional-order-form THEAD TR TH
{
	padding-right: 20px;
	padding-bottom: 10px;
}

.sitewards-b2bprofessional-order-form THEAD TR TH {
	font-weight: bold;
}

.sitewards-b2bprofessional-order-form .price {
	text-align: right;
}

.sitewards-b2bprofessional-order-form .invisible {
	display: none;
}

.sitewards-b2bprofessional-order-form A {
	cursor: pointer;
}