<?xml version="1.0"?>
<!--
/**
 * config.xml
 *	- rewrite blocks,
 *	- set-up helper,
 *	- set-up url rewrite,
 *	- define router,
 *	- set-up layout.xml,
 *	- set-up translation file,
 *	- define default values
 *
 * @category    Sitewards
 * @package     Sitewards_B2BProfessional
 * @copyright   Copyright (c) 2012 Sitewards GmbH (http://www.sitewards.com/)
 */
-->
<config>
	<modules>
		<Sitewards_B2BProfessional>
			<version>2.1.3</version>
		</Sitewards_B2BProfessional>
	</modules>
	<global>
		<blocks>
			<bundle>
				<rewrite>
					<catalog_product_price>Sitewards_B2BProfessional_Block_Bundle_Catalog_Price</catalog_product_price>
					<catalog_product_view_type_bundle_option_checkbox>Sitewards_B2BProfessional_Block_Bundle_Catalog_Product_View_Type_Bundle_Option_Checkbox</catalog_product_view_type_bundle_option_checkbox>
					<catalog_product_view_type_bundle_option_multi>Sitewards_B2BProfessional_Block_Bundle_Catalog_Product_View_Type_Bundle_Option_Multi</catalog_product_view_type_bundle_option_multi>
					<catalog_product_view_type_bundle_option_radio>Sitewards_B2BProfessional_Block_Bundle_Catalog_Product_View_Type_Bundle_Option_Radio</catalog_product_view_type_bundle_option_radio>
					<catalog_product_view_type_bundle_option_select>Sitewards_B2BProfessional_Block_Bundle_Catalog_Product_View_Type_Bundle_Option_Select</catalog_product_view_type_bundle_option_select>
				</rewrite>
			</bundle>
			<b2bprofessional>
				<class>Sitewards_B2BProfessional_Block</class>
			</b2bprofessional>
			<checkout>
				<rewrite>
					<links>Sitewards_B2BProfessional_Block_Checkout_Links</links>
				</rewrite>
			</checkout>
		</blocks>
		<events>
			<controller_action_predispatch>
				<observers>
					<b2bprofessional>
						<class>b2bprofessional/observer</class>
						<method>onControllerActionPreDispatch</method>
					</b2bprofessional>
				</observers>
			</controller_action_predispatch>
			<core_block_abstract_to_html_before>
				<observers>
					<b2bprofessional>
						<class>b2bprofessional/observer</class>
						<method>onCoreBlockAbstractToHtmlBefore</method>
					</b2bprofessional>
				</observers>
			</core_block_abstract_to_html_before>
			<core_block_abstract_to_html_after>
				<observers>
					<b2bprofessional>
						<class>b2bprofessional/observer</class>
						<method>onCoreBlockAbstractToHtmlAfter</method>
					</b2bprofessional>
				</observers>
			</core_block_abstract_to_html_after>
			<catalog_product_type_configurable_price>
				<observers>
					<b2bprofessional>
						<class>b2bprofessional/observer</class>
						<method>onCatalogProductTypeConfigurablePrice</method>
					</b2bprofessional>
				</observers>
			</catalog_product_type_configurable_price>
			<core_layout_block_create_after>
				<observers>
					<b2bprofessional>
						<class>b2bprofessional/observer</class>
						<method>onCoreLayoutBlockCreateAfter</method>
					</b2bprofessional>
				</observers>
			</core_layout_block_create_after>
		</events>
		<helpers>
			<b2bprofessional>
				<class>Sitewards_B2BProfessional_Helper</class>
			</b2bprofessional>
		</helpers>
		<models>
			<b2bprofessional>
				<class>Sitewards_B2BProfessional_Model</class>
			</b2bprofessional>
		</models>
		<rewrite>
			<sitewards_B2BProfessional_cart>
				<from><![CDATA[#^/checkout/cart/#]]></from>
				<to>B2BProfessional/cart/</to>
			</sitewards_B2BProfessional_cart>
		</rewrite>
	</global>
	<frontend>
		<routers>
			<Sitewards_B2BProfessional>
				<use>standard</use>
				<args>
					<module>Sitewards_B2BProfessional</module>
					<frontName>B2BProfessional</frontName>
				</args>
			</Sitewards_B2BProfessional>
		</routers>
		<translate>
			<modules>
				<Sitewards_B2BProfessional>
					<files>
						<default>Sitewards_B2BProfessional.csv</default>
					</files>
				</Sitewards_B2BProfessional>
			</modules>
		</translate>
	</frontend>
	<adminhtml>
		<translate>
			<modules>
				<Sitewards_B2BProfessional>
					<files>
						<default>Sitewards_B2BProfessional.csv</default>
					</files>
				</Sitewards_B2BProfessional>
			</modules>
		</translate>
	</adminhtml>
	<default>
		<b2bprofessional>
			<languagesettings>
				<logintext>Please login</logintext>
				<errortext>Your account is not allowed to access this store.</errortext>
				<requireloginmessage>You do not have access to view this store.</requireloginmessage>
				<requireloginredirect>0</requireloginredirect>
			</languagesettings>
			<!--
				Each of the following sections is to do with replacing html when customer has limited access,
				They should contain:
					replace: flag for if the section will be replaced
					tag: which html tag to look for <p> == p
					id: the type of identifier for this tag (id, class, href)
					value: what to look for in the identifier
					remove: if the section is removed or replaced by text
			-->
			<cart_sidebar_totals>
				<replace>1</replace>
				<tag>p</tag>
				<id>class</id>
				<value>subtotal</value>
				<remove />
			</cart_sidebar_totals>
			<cart_sidebar_actions>
				<replace>1</replace>
				<tag>div</tag>
				<id>class</id>
				<value>actions</value>
				<remove>1</remove>
			</cart_sidebar_actions>
			<cart_item_price>
				<replace>1</replace>
				<tag>span</tag>
				<id>class</id>
				<value>price</value>
				<remove />
			</cart_item_price>
		</b2bprofessional>
	</default>
</config>