<?xml version="1.0"?>
<config>
    <modules>
        <Sitewards_B2BProfessional>
            <version>3.0.0</version>
        </Sitewards_B2BProfessional>
    </modules>
    <global>
        <models>
            <sitewards_b2bprofessional>
                <class>Sitewards_B2BProfessional_Model</class>
            </sitewards_b2bprofessional>
        </models>
        <helpers>
            <sitewards_b2bprofessional>
                <class>Sitewards_B2BProfessional_Helper</class>
            </sitewards_b2bprofessional>
        </helpers>
    </global>
    <frontend>
        <events>
            <catalog_product_is_salable_after>
                <observers>
                    <sitewards_b2bprofessional>
                        <type>singleton</type>
                        <class>sitewards_b2bprofessional/observer</class>
                        <method>catalogProductIsSalableAfter</method>
                    </sitewards_b2bprofessional>
                </observers>
            </catalog_product_is_salable_after>
            <catalog_product_type_prepare_full_options>
                <observers>
                    <sitewards_b2bprofessional>
                        <type>singleton</type>
                        <class>sitewards_b2bprofessional/observer</class>
                        <method>catalogProductTypePrepareFullOptions</method>
                    </sitewards_b2bprofessional>
                </observers>
            </catalog_product_type_prepare_full_options>
            <core_block_abstract_to_html_after>
                <observers>
                    <sitewards_b2bprofessional>
                        <type>singleton</type>
                        <class>sitewards_b2bprofessional/observer</class>
                        <method>coreBlockAbstractToHtmlAfter</method>
                    </sitewards_b2bprofessional>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </frontend>
    <default>
        <b2bprofessional>
            <generalsettings>
                <active>0</active>
            </generalsettings>
        </b2bprofessional>
    </default>
</config>